@{
    ViewData["Title"] = "Home Page";
}
<h1>ASP.Net CRUD Project</h1>

<p>
    Welcome to ASP.Net CRUD project. I've ran CRUD operations on two tables in the AdventureWorks database. I selected the Location table
    and ShoppingCartItem table. 
</p>